<main class="w-full h-auto">
    <div class="flex items-center justify-between w-full p-8 gap-8" *ngIf="isLoggedIn==='true'">
      <span class="px-4 py-6 bg-white rounded-lg w-1/4">
        <h1 class="">LOGO</h1>
      </span>
      <app-search class="w-2/3 bg-white rounded-lg px-4 py-6"></app-search>
      <button class="w-1/4 bg-emerald-700/40 rounded-lg px-4 py-6 text-white">
        Become a Seller
      </button>
    </div>
    <div class="flex items-center justify-between  px-8 gap-8 ">
      <app-sidebar class="w-1/4 h-svh" *ngIf="isLoggedIn==='true'"/>
      <div class="w-2/3 h-svh overflow-y-auto no-scrollbar">
        <router-outlet/>
      </div>
      <app-right-panel class="w-1/4 h-svh" *ngIf="isLoggedIn==='true'">
      </app-right-panel>
    </div>
  </main>

