<div class="flex items-center justify-between px-2">
  <div class="flex gap-x-2">
    <label for="search"
      ><img src="assets/sidebarIcons/search.svg" alt="search icon" class="hover:cursor-pointer"
    /></label>
    <input
      id="search"
      type="text"
      placeholder="Search here..."
      class="text-gray-400 text-sm border-none focus:outline-none"
    />
  </div>
  <div class="flex gap-x-2 hover:cursor-pointer">
    <img src="assets/sidebarIcons/filters.svg" />
    <p class="text-gray-700">Filters</p>
  </div>
</div>
