@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #F5F5F5;    
}

/* Hide scrollbar for Chrome, Safari and Opera  */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.active-link {
  color: black;
  font-weight: bold;
  border-left-width: 2px;
  border-left-color: #88c2bb;
}

.active-link img {
  filter: brightness(0.2); /* Darken the element */
}
